<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="/styles.css" />
</head>

<body>
  <nav class="coreHeader_nav">
    <ul class="coreHeader_mainblock">
      <li class="commonBtn_li"><a class="homeBtn_a" href="/">
        <svg xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 576 512"><style>svg{fill:#000000}</style><path d="M280.37 148.26L96 300.11V464a16 16 0 0 0 16 16l112.06-.29a16 16 0 0 0 15.92-16V368a16 16 0 0 1 16-16h64a16 16 0 0 1 16 16v95.64a16 16 0 0 0 16 16.05L464 480a16 16 0 0 0 16-16V300L295.67 148.26a12.19 12.19 0 0 0-15.3 0zM571.6 251.47L488 182.56V44.05a12 12 0 0 0-12-12h-56a12 12 0 0 0-12 12v72.61L318.47 43a48 48 0 0 0-61 0L4.34 251.47a12 12 0 0 0-1.6 16.9l25.5 31A12 12 0 0 0 45.15 301l235.22-193.74a12.19 12.19 0 0 1 15.3 0L530.9 301a12 12 0 0 0 16.9-1.6l25.5-31a12 12 0 0 0-1.7-16.93z"/></svg>
      </a></li>
      <li class="commonBtn_li configButton_li">
        <span class="configButton_mainSpan"><a id=configButton href="#">CONFIG<svg class="arrow_menuCascading" xmlns="http://www.w3.org/2000/svg" height="1.2em" viewBox="0 0 320 512"><style>svg{fill:#000000}</style><path d="M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z"/></svg></a></span>
        <span class="menu-cascading_span">
          <span class="spacing_span_menu"></span>
          <ul class="menu-cascading">
            <li><a href="/config" class="btn-menu-cascading">Advanced Configuration</a></li>
        </span>
        </ul>
      </li>
    </ul>
    <!-- <div class="menu-icon">&#9776;</div> -->
  </nav>
  <div id="containerDiv">
    <div id="mainContentDiv">
      <div id="systemMainStatus">
        <div id="systemMainStatusDiv">
          <div class="tagImgHDD systemLeftBar">
            <img class="systemIcon" src="/system.ico">
          </div>
          <button id="botaoGetInfo">Get Info</button>
          <div id="systemMainStatusDivData">
            <p class="bottom-paragraph-signature">Version v1.0.0</p>
          </div>
      </div>
    </div>
    <div id="listDevices">
    </div>
  </div>
</div>
</body>
<script src="/loadInfo.js"></script>

</html>